header {
  display: flex;
  min-height: 10%;
  background: aliceblue;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  color: darkgreen;
  font-weight: bold;

}

.header__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-end;
}

.header__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;

}

.header__brand--link {
  height: 100%;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.header__brand--link:hover {
  border-bottom: 2px solid darkgreen;
}

