main {
  min-height: 100%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.main__title--h4 {
  font-family: 'Lekton', sans-serif;
  color: white;
}
.main__items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main__items p, h3{
  margin: 1rem;
  color: black;
}


.main__title {
  background-color: rgba(225, 124, 15, 1);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.main__item {
  display: flex;
  flex-direction: column;
  border: 0.01px gray solid;
  border-radius: 4px;
  margin: 0.5rem 0.8rem 0.5rem 0.25rem;
  padding: 0.2rem;
  height: 15rem;

}
.item__image {
  height: 10rem;
  width: 100%;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;

}

.item__image img {
  height: 8rem;
  width: 8rem;
}

.item__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__price {
  text-align: center;
}
.item__placeorder {
  grid-area: placeorder;
  background-color: rgba(225, 124, 15, 1);
  text-align: center;
}

.item__placeorder--link {
  text-decoration: none;
  font-family: 'Lekton', sans-serif;
  cursor: pointer;
  color: white;
}
