main {
  min-height: 100%;
  background-color: azure;
  display: flex;
  flex-direction: column;

}

.main__search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
}
.search__box {
  flex-basis: 80%;
  border-right: none;
  margin: 8px;
  height: 2rem;
  background: rgb(195, 219, 195);
}
.search__submit {
  background: lightgreen;
  border-radius: 1px;
  display: inline-block;
  height: 2rem;
  padding: 4px;
  border: darkgreen 2px solid;
  color: darkgreen;
  cursor: pointer;
}

.main__items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main__items p, h3{
  margin: 1rem;
  color: black;
}



.main__title {
  background-color: lightgreen;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: -1.2rem;
}
.main__title--h4 {
  font-family: 'Lekton', sans-serif;
  color: darkgreen;
}


.main__item {
  display: flex;
  flex-direction: column;
  border: 0.01px gray solid;
  border-radius: 4px;
  margin: 0.5rem 0.8rem 0.5rem 0.25rem;
  padding: 0.2rem;
  height: 15rem;

}
.item__image {
  height: 10rem;
  width: 100%;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;

}

.item__image img {
  height: 8rem;
  width: 8rem;
}

.item__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__price {
  text-align: center;
}

.item__placeorder {
  background-color:rgb(31, 155, 31);
  height: 25%;


}

.item__placeorder--link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Lekton', sans-serif;
  cursor: pointer;
  color: lightgreen;
}