{% extends 'commodity/base.html' %}

{% load humanize %}

{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static 'commodity/main.css' %}">
{% endblock %}

{% block maincontent %}

<section class="main__search">
	<form method="POST" action="{% url 'commodity:commodities' %}">
		{% csrf_token %}
		<input id="searchitem" class="search__box" place_order="Search" autofocus>
		<input type="submit" class="search__submit" value="SEARCH">
	</form>
</section>


<section class="main__title">
  <h1 class="main__title--h4"> Featured Products </h1>
</section>

<section class="main__items">
  {% for item in items %}
  	<div class="main__item">
		<div class="item__image">
			{% if item.picture %}
			<img src="{{ item.picture.url }}" alt="img" class="item__picture--img">
			{% endif %}
		</div>
		<div class="item__details">
			<div class="item__name">
			<h3>{{ item.name }}</h3>
			</div>
			<div class="item__price">
			<h3>{{ item.price | intcomma }}</h3>
			</div>
		</div>
		<div class="item__placeorder">
			<a class="item__placeorder--link" href="{% url 'order:place_order' item.id %}">
				Place Order
			</a>
		</div>
	</div>
  <br>
  {% endfor %}
</section>

{% endblock %}
