{% extends 'commodity/base.html' %}

{% load humanize%}

{% block maincontent %}

<section class="main__title">
  <h1 class="main__title--h4"> Featured Products </h1>
</section>

<section class="main__items">
  {% for item in items %}
  	<div class="main__item">
		<div class="item__image">
			{% if item.picture %}
			<img src="{{ item.picture.url }}" alt="img" class="item__picture--img">
			{% endif %}
		</div>
		<div class="item__details">
			<div class="item__name">
			<h3>{{ item.name }}</h3>
			</div>
			<div class="item__price">
			<h3>{{ item.price | intcomma }}</h3>
			</div>
		</div>
		<div class="item__placeorder">
			<p><a class="item__placeorder--link" href="{% url 'order:place_order' item.id %}">
				Place Order</a></p>
		</div>
	</div>
  <br>
  {% endfor %}
</section>

{% endblock %}
